:root{
  font-size: 1em;
  font-family: 'Open Sans';
  --bg-color: rgb(25, 25, 25);
  --next-bg-color: white;
  --txt-color: white;
  --btn-color: var(--txt-color);
  --hs-red: #E3000B;
  --radGradientRed: radial-gradient(circle, #ff0000 20%, transparent 20%);
  --radGradientOrange: radial-gradient(circle, #ff8400 20%, transparent 20%);
  --radGradientYellow: radial-gradient(circle, #feff00 20%, transparent 20%);
  --radGradientGreen: radial-gradient(circle, #1dff00 20%, transparent 20%);
  --radGradientBlue: radial-gradient(circle, #00beff 20%, transparent 20%);
  --radGradientViolet: radial-gradient(circle, #8800ff 20%, transparent 20%);
  --radGradientPurple: radial-gradient(circle, #b500ff 20%, transparent 20%);
  --radGradient2Green: radial-gradient(circle, transparent 10%, #1dff00 15%, transparent 20%);
}

*{
  background-color: transparent;
  border: 0; 
}

body{
  background-color:var(--bg-color);
  color: var(--txt-color);
  /* background-image: url("images/BackgroundBig.png");
  background-repeat: repeat;
  background-position: center top; */
  margin: 2rem;
}

body[data-theme='light-theme']{
  --bg-color: white;
  --next-bg-color: rgb(191, 39, 39);
  --txt-color: black;
  --btn-color: var(--txt-color);
}

body[data-theme='fire-theme']{
  --bg-color: rgb(191, 39, 39);
  --next-bg-color: rgb(25, 25, 25);
  --txt-color: rgb(255, 208, 98);
  --btn-color: var(--txt-color);
}

button:hover{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}
  
@media(max-width: 499px){
  :root{
    font-size: 0.9em;
  }
}

@media(min-width: 500px){
  :root{
    font-size: 1em;
  }
}

@media(min-width: 1300px){
  :root{
    font-size: 1.5em;
  }
}