:root{
  font-size: 1em;
  font-family: 'Open Sans';
  --bg-color: rgb(25, 25, 25);
  --bg-cards: rgb(40, 40, 40);
  --ol-color: rgb(0,0,0,0.8);
  --next-bg-color: white;
  --txt-color: white;
  --btn-color: var(--txt-color);
  --hs-red: #E3000B;

  --cards-height: 11rem;
  --grid-1_3to2_3: 1/3;
  --grid-2_3to1_3: 2/3;

  --radGradientRed: radial-gradient(circle, #ff0000 20%, transparent 20%);
  --radGradientOrange: radial-gradient(circle, #ff8400 20%, transparent 20%);
  --radGradientYellow: radial-gradient(circle, #feff00 20%, transparent 20%);
  --radGradientGreen: radial-gradient(circle, #1dff00 20%, transparent 20%);
  --radGradientBlue: radial-gradient(circle, #00beff 20%, transparent 20%);
  --radGradientViolet: radial-gradient(circle, #8800ff 20%, transparent 20%);
  --radGradientPurple: radial-gradient(circle, #b500ff 20%, transparent 20%);
  --radGradient2Green: radial-gradient(circle, transparent 10%, #1dff00 15%, transparent 20%);
}

*{
  box-sizing: border-box;
  background-color: transparent;
  border: 0; 
  padding: 0;
  margin: 0;
}

body{
  background-color:var(--bg-color);
  color: var(--txt-color);
}

body[data-theme='light-theme']{
  --bg-color: white;
  --next-bg-color: rgb(101, 79, 152);
  --txt-color: black;
  --btn-color: var(--txt-color);
  --bg-cards: rgb(200, 200, 200);
}

body[data-theme='purple-theme']{
  --bg-color: rgb(94, 82, 120);
  --next-bg-color: rgb(25, 25, 25);
  --txt-color: rgb(73, 178, 204);
  --btn-color: var(--txt-color);
  --bg-cards: rgb(74, 64, 96);
}

button:hover{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.page{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

.fixed{
  position: fixed;
  margin-left: 1rem;
}

#fixedL{
  margin-left: 20rem;
}


@media(orientation: landscape){
  :root{
  }
}

@media(orientation: portrait){
  :root{
  }
}
  
@media(max-width: 499px){
  :root{
    font-size: 0.9em;
    --grid-1_3to2_3: 2/3;
    --grid-2_3to1_3: 1/3;
    --cards-height: 11.5rem;
  }
}

@media(min-width: 500px){
  :root{
    font-size: 1em;
    --grid-1_3to2_3: 1/3;
    --grid-2_3to1_3: 2/3;
    --cards-height: 6.5rem;
  }
}

@media(min-width: 850px){
  :root{
    font-size: 1em;
    --grid-1_3to2_3: 1/3;
    --grid-2_3to1_3: 2/3;
    --cards-height: 12rem;
  }
}

@media(min-width: 1300px){
  :root{
    font-size: 1.5em;
    --grid-1_3to2_3: 1/3;
    --grid-2_3to1_3: 2/3;
    --cards-height: 12rem;
  }
}