.createLayout{
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template:
      'Header'
      'Points'
      'Input'
      'Packs'
      'SelectionBtn'
      'DeselectionBtn'
      'PacksList'
      'ContinueBtn';
    grid-gap: 1rem;
    
    justify-items: safe center;
    padding: 2rem;
}

.selectBtn{
    grid-area: SelectionBtn;
    color: white;
}

.deselectBtn{
    grid-area: DeselectionBtn;
    color: white;
}

#headerCG{
    grid-area: Header;
}

#pointsCG{
    grid-area: Points;
    align-self: flex-end;
}

#inputGoal{
    grid-area: Input;
}

#packsCG{
    grid-area: Packs;
    align-self: flex-end;
}

#packsListCG{
    grid-area: PacksList;
}

.continueBtn{
    grid-area: ContinueBtn;
}