#inputGoal{
    grid-area: Input;
    align-self: flex-end;
}
#inputGoal{
    font-size: 1rem;
    text-align: center;

    padding: .5rem;
    border-radius: .5rem;
    font-weight: 500;
}
#inputGoal{
    height: 3rem;
}

#inputGoal{
    background-color: white;
    color: black;
    border: .2rem solid var(--bg-cards);
    font-weight: 700;
    margin: 0;
}