.lobbyLayout{ /* Page Layout */
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template:
      'Header'
      'List'
      'LeaveBtn'
      'StartBtn';
    grid-gap: 1rem;
    
    justify-items: safe center;
    padding: 2rem;
}

.list > p{ /* different Padding for Players(Name and ID) Text */
    padding: .2rem 1rem;
}

.headerG{ /* Page Header */
    grid-area: Header;
    font-size: 1.5rem;
    font-weight: bold;
}

#leaveBtn{ /* leave Lobby Button */
    grid-area: LeaveBtn;
    padding: .5rem 3rem;
    background-color: var(--hs-red);
    border-color: var(--hs-red);
    color: white;
}

#leaveBtn:hover{
    color: black;
}

#startBtn{ /* start Game Button */
    grid-area: StartBtn;
}