.lobbyLayout{
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template:
      'Header'
      'List'
      'LeaveBtn'
      'StartBtn';
    grid-gap: 3rem;
    
    justify-items: safe center;
    padding: 2rem;
}

.headerG{
    grid-area: Header;
}

#leaveBtn{
    grid-area: LeaveBtn;
    padding: .5rem 3rem;
    background-color: var(--hs-red);
    border-color: var(--hs-red);
    color: white;
}

#leaveBtn:hover{
    color: black;
}

#startBtn{
    grid-area: StartBtn;
}