.allLobbyLayout{ /* Page Layout */
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template:
      'Header Header'
      'GameList GameList'
      'DetailsList DetailsList'
      'ButtonL ButtonR';
    grid-gap: 1rem;
    
    justify-items: safe center;
    padding: 2rem;
}

.header{ /* Page Header */
    grid-area: Header;
    font-size: 1.5rem;
    margin-top: -1rem;
}

#gamesList{ /* List with all Games */
    grid-area: GameList;
}

#gamesList > button{ /* each Game in the List */
    font-size: 1rem;
    width: 100%;

    padding: .5rem 1rem;
    font-weight: 600;
    color: var(--txt-color);
}

#gamesList > button:hover{
    color: seagreen;
}

/* ------ More Information on each Game ------ */

#detailsList{ /* Layout for Information */
    grid-area: DetailsList;
    width: fit-content;
    width: 80%;
    height: 100%;
    overflow: auto;
    
    display: grid;
    grid-template:
      'HeaderL HeaderL'
      'Points Empty'
      'Player PlayerList'
      'Packs PacksList';

    justify-items: safe right;
    font-weight: 400;
    font-size: .9rem;
    grid-gap: .5rem;
    padding: 1rem;
    border: .25rem solid transparent;
    border-radius: .75rem;

    background-color: var(--bg-cards);
}

#headerID{ /* Information Header (=GameID) */
    grid-area: HeaderL;
    font-size: 1rem;
    font-weight: 500;
    justify-self: center;
}

#gamePoints{ /* Game Goal */
    grid-area: Points;
}

#playerCont{ /* 'Player in Game' Text */
    grid-area: Player;
}

#playerList{ /* Container for all Players in Game */
    grid-area: PlayerList;
    justify-self: left;
    min-height: 1.5rem;
}

#packsCont{ /* 'Packs in Game' Text */
    grid-area: Packs;
}

#packsList{ /* Container for all Packs in Game */
    grid-area: PacksList;
    justify-self: left;
    min-height: 1.5rem;
}

#createBtn{ /* Create Game Button */
    grid-area: ButtonL;
}

#joinBtn{ /* Join Game Button */
    grid-area: ButtonR;
}

.lobbyList{ /* Container for Players/Packs */
    min-width: 5rem;
    width: 80%;
    background-color: rgba(100, 100, 100, 0.25);
    border: .25rem solid transparent;
    border-radius: .5rem;
    overflow-y: auto;
}

.lobbyList > p{ /* each Player/Pack Text */
    font-weight: 400;
    font-size: .9rem;
    padding: .1rem .5rem;
}

/* ----- Scrollbar for these Lists ----- */

.lobbyList::-webkit-scrollbar, #detailsList::-webkit-scrollbar{
    width: .5rem;
}

.lobbyList::-webkit-scrollbar-track, #detailsList::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.lobbyList::-webkit-scrollbar-thumb, #detailsList::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}

.lobbyList::-webkit-scrollbar-thumb:hover, #detailsList::-webkit-scrollbar-thumb:hover{
    background-color: white;
}

/* ----- Home Button ----- */

#home{ /* Button Background and Container */
    position: fixed;
    top: 0.4rem;
    right: 0.4rem;
    height: 2.75rem;
    width: 2.75rem;
    background-color: rgba(70, 70, 70, 0.5);
    border-radius: 0.5rem;
    transition: .6s;
    transition-delay: 0.3s;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#home:hover{
    cursor: pointer;
   --btn-color: var(--hs-red);
}

.homeBtn{ /* Container for whole house icon */
    margin: .36rem;
}

#homeIconRoof, #homeIcon{
    width: 1.5rem;
    height: 2rem;
    border-color:var(--btn-color);
}

#homeIconRoof{
  width: 0; 
  height: 0; 
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;

  border-bottom: 1rem solid var(--btn-color);
}

#homeIcon{
    margin-left: 0.29rem;
    width: 1.4rem; 
    height: 1rem; 

    border: .4rem solid var(--btn-color);
    border-top: 0;

    background-color: transparent;
}