#packTitle{ /* Header (=current Packname) */
  position:fixed;
  padding-top: .75rem;
  height: 3.7rem;
  width: 100%;
  text-align: center;
  background-color: var(--bg-cards);
}

.border{ /* Border for whole page so the cards are not to close to some edge */
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  justify-items: safe center;
  
  padding-top: 3rem;
  padding-right: 1.25rem;
}

.border.detail{ /* different Backgroundcolor so the white and black cards are visible */
  background-color: var(--bg-cards);
}

.packs{ /* Contaier for each Pack */
  height: 5.9rem;
  min-width: 8.5rem;

  font-size: .9rem;
  text-align: center;
  padding: .3rem;
  border: .3rem solid;
  border-radius: .4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  float: left;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: var(--bg-cards);
  border-color: var(--bg-cards);
  color: var(--txt-color);
  font-weight: 500;
  transition: .5s ease-in-out;
  transition-property: transform, box-shadow;
}

.packs.black{ /* Black Pack Cards Style */
    font-weight: 400;
    background-color: black;
    border-color: black;
    color: white;
}

.packs.white{ /* White Pack Cards Style */
  background-color: white;
  border-color: white;
  color: black;
}

/* ----- Scrollbar for Black and White Pack Cards ----- */

.packs::-webkit-scrollbar{
  width: .3rem;
}

.packs::-webkit-scrollbar-track{
    background-color: rgba(50, 50, 50, 0.25);
    border-radius: 1rem;
}

.packs::-webkit-scrollbar-thumb{
    background-color: rgba(50, 50, 50, 0.4);
    border-radius: 1rem;
}

.packs::-webkit-scrollbar-thumb:hover{
    background-color: rgba(50, 50, 50, 0.8);
}

/* ----- Scrollbar for Pack Cards ----- */

.packsall::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.packsall::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.packsall::-webkit-scrollbar-thumb:hover{
  background-color: white;
}

.packsall:hover{ /* enable hover only on the Packs Container */
  transform: translateY(-.7rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
}