.smallArrow{
    position: fixed;
    top: 1rem;
    left: 4rem;
    height: 1.5rem;
    width: 1.5rem;
    border-top: 0.4rem solid var(--btn-color);
    border-right: 0.4rem solid var(--btn-color);
    border-top-right-radius: 10%;
    transition: .3s ease-in-out;
  
    /* arrow Left & Breiter */
    transform: rotate(-135deg) skew(20deg, 20deg);
  }
    
  .smallArrow:hover{
    border-top: 0.5rem solid var(--btn-color);
    border-right: 0.5rem solid var(--btn-color);
  }