.popupBack{ /* Background for Popup */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupWindow{ /* Container for all Content from Popup */
    position: relative;
    background-color: var(--bg-color);
    color: var(--txt-color);
    height: 88vh;
    width: 80vw;
    border-radius: 1rem;
    padding: 1rem;
}

.popupWindow.small{ /* small Popup for Animations */
    height: 5.1rem;
    width: 20.1rem;
}

.popupWindow.small:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: repeating-linear-gradient(90deg, #ff0000, #ff8400, #feff00, #1dff00, #00beff, #b500ff, #ff0000);
    background-size: 400%;
    height: 5.1rem;
    width: 20.1rem;
    filter: blur(0.5rem);
    animation: glowing 10s linear infinite;
}

.popupWindow.small.lost:before{
  background: repeating-linear-gradient(90deg, #cecece, #555555, #cecece, #555555, #cecece);
}

#btnClose{ /* 'X' Button Container to close Popup */
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    height: 1.85rem;
    width: 1.85rem;
}

#xBar1, #xBar2{ /* 'X' divs */
  position: absolute;
  width: 1.9rem;
  border-top: 0.25rem solid var(--btn-color);
  transition: 0.2s;
}

#xBar1{
  margin-top: 0.05rem;
  transform: rotate(-45deg) translate(-0.52rem, 0.48rem);
}

#xBar2{
  margin-top: 1.45rem;
  transform: rotate(45deg) translate(-0.5rem, -0.45rem);
}

#curPage{ /* small Numbers that show on wich page of the help Popup you are */
  position: absolute;
  font-size: .9rem;
}

#popupGrid{ /* Layout from Popup Container */
  display: grid;
  width: 100%;
  height: 100%;

  grid-template: 
    'ArrowL Cont ArrowR';
  grid-template-columns: 1.5rem calc(100% - 3rem) 1.5rem;
  grid-template-rows: 100%;

  justify-items: safe center;
  overflow: hidden;
}

 /* ----- Right and Left Arrow to change the Popup page ----- */

.popupArrow{
  align-self: center;
  height: 2.3rem;
  width: 2.3rem;
  border-top: 0.3rem solid var(--txt-color);
  border-right: 0.3rem solid var(--txt-color);
  border-top-right-radius: 10%;
  transition: .3s ease-in-out;
}
  
.popupArrow:hover{
  cursor: pointer;
}

.arrowL{
  grid-area: ArrowL;
  transform: rotate(-135deg) skew(20deg, 20deg);
}

.arrowL:hover{
  border-top: 0.5rem solid var(--hs-red);
  border-right: 0.5rem solid var(--hs-red);
}

.arrowR{
  grid-area: ArrowR;
  transform: rotate(45deg) skew(20deg, 20deg);
  margin-left: -.8rem;
}

.arrowR:hover{
  border-top: 0.5rem solid seagreen;
  border-right: 0.5rem solid seagreen;
}

#popupContent{ /* Layout for the different Contents on the different Popup pages */
  grid-area: Cont;
  display: grid;
  width: 100%;
  height: 100%;

  grid-template: var(--help-grid);
  grid-template-rows: var(--help-rows);
  grid-template-columns: var(--help-columns);

  justify-items: safe center;
  grid-row-gap: 2%;
}

.helpHeader1{ /* Header for first Information an a Popup page */
  grid-area: Header1;
}

.helpText1{ /* Text for first Information an a Popup page */
  grid-area: Text1;
}

.helpImage1{ /* Image for first Information an a Popup page */
  grid-area: Image1;
}

.helpHeader2{
  grid-area: Header2;
}

.helpText2{
  grid-area: Text2;
}

.helpImage2{
  grid-area: Image2;
}

.popupTitle{ /* Header Style */
  font-size: 1.25rem;
  font-weight: 500;
}

.popupText{ /* Text Style */
  font-size: 1rem;
  overflow-y: auto;
}

.helpImg{ /* Image Style */
  max-height: 100%;
  max-width: 100%;
  padding-left: .5rem;
}

/* ----- Scrollbar for Information Text ----- */

.popupText::-webkit-scrollbar{
  width: .25rem;
}

.popupText::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.popupText::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.popupText::-webkit-scrollbar-thumb:hover{
  background-color: white;
}

/* ----- cutout & glowing Effect for small (=animated) Popups ----- */

.popupCutout{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    color: white;
    font-size: 3rem; 
    letter-spacing: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    margin: 0 auto;
    width: 20rem;
    border-radius: 1rem;
    text-align: center;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
}

@keyframes glowing {
    0%{background-position:100% 50%}
    100%{background-position:-33% 50%}
}